
<h1>Welcome to playitonpiano</h2>

<div class="row">
    <div class="col-xs-4 col-xs-offset-3">
        <ul class="nav nav-pills">
            <li><a href="/videos">Videos</a></li>
            <li><a href="/sheets">Sheet Music</a></li>
            <li class="active"><a href="/about">About</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Filter <span class="caret"></span>
              </a>
               <ul class="dropdown-menu">
                 <li id="filterSelection"><a>Rap</a></li>
                 <li id="filterSelection"><a>Rock</a></li>
                 <li id="filterSelection"><a>Classical</a></li>
                 <li id="filterSelection"><a>Acoustic</a></li>

                <!-- <li class="divider"></li>
                <li><a href="#">Separated link</a></li> -->
              </ul>
            </li>
        </ul>
      </div>
</div>


<div class="row">

  <div class="col-xs-6 col-xs-offset-3">
    <h5>About Lesly Brezilien</h5>
    <p> I created this site with one intention, I wanted piano tutorials for the songs that I heard and loved as I heard them, not just the melody which I can play with one finger but the chords or background music (even if the singers melody isn't part of it). I am not a master pianist, just trying my best to provide a service at the level that I can. If you see an error in the sheet, feel free to edit it and submit it, I'll post it up with your name for credit as well. Other than that, I'm a web developer in my other life, and I love code as much as I like music. Hopee you enjoy the new version of this site. The first version was the first site I ever built :)</p>

  </div>

</div>
