
<%- partial ('nav/subnav.ejs') %>

<div class="row">

  <div class="col-xs-6 col-xs-offset-3">
    <h5>About Lesly Brezilien</h5>
    <p> I created this site with one intention, I wanted piano tutorials for the songs that I heard and loved as I heard them, not just the melody which I can play with one finger but the chords or background music (even if the singers melody isn't part of it). I am not a master pianist, just trying my best to provide a service at the level that I can. If you see an error in the sheet, feel free to edit it and submit it, I'll post it up with your name for credit as well. Other than that, I'm a web developer in my other life, and I love code as much as I like music. Hopee you enjoy the new version of this site. The first version was the first site I ever built :)</p>

  </div>

</div>
