<div class="row">
    <div class="col-xs-4 col-xs-offset-3">
        <ul class="nav nav-pills">
            <li class="active"><a href="/videos">Videos</a></li>
            <li><a href="/sheets">Sheet Music</a></li>
            <li><a href="/about">About</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Filter <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" id="filterSelection">
               <li><a>Rap</a></li>
               <li><a>Rock</a></li>
               <li><a>Classical</a></li>
               <li><a>Acoustic</a></li>
                <!-- <li class="divider"></li>
                <li><a href="#">Separated link</a></li> -->
              </ul>
            </li>
        </ul>
      </div>
</div>
