
<div class="row">
    <div class="col-xs-4 col-xs-offset-3">
        <ul class="nav nav-pills">
            <li><a href="/admin/videos">Videos</a></li>
            <li><a href="/admin/sheets">Sheet Music</a></li>

      </div>
</div>
