<div class="row">
  <div class="col-xs-10 col-xs-offset-2">
      <h2> Hi, heard you liked piano. Cool :) </h2>
  </div>
  <!-- <div class="col-xs-4 col-xs-offset-4">
      <h4> Heres some free stuff </h4>
  </div> -->
</div>
